<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Delicious Chips</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
    </head>
    <body>
        <h1>Bienvenido a Delicious Chips Page Web</h1>
        <hr>
        <div class="tope">
            <ul id="bar">
                <li><a href="{{url_for('index')}}">Inicio</a></li>
                <li>Ver cátalogo</li>
                <li><a href="{{ url_for('registrar_pedido') }}">Realizar pedido</a></li>
                <li>Contactanos</li>
                <li>PQRS</li>
            </ul>
        </div>

    </body>
</html>
