<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de pedidos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Pedidos por gestionar</h1>


<div class="pedidos-container">
  {% for idx, pedido in pedidos %}
    <div class="pedido-card">
      <p><strong>Producto:</strong> {{ pedido.producto }}</p>
      <p><strong>Cantidad:</strong> {{ pedido.cantidad }}</p>
      <p><strong>Nombre:</strong> {{ pedido.nombre }}</p>
      <strong>ID del Pedido:</strong> {{ "%04d" % pedido.id }}<br>
      <p><strong>Fecha y hora del pedido:</strong> {{ pedido.hora.strftime('%Y-%m-%d %H:%M:%S') }}</p>

      <a href="{{ url_for('detalle_pedido_cliente', pedido_id=pedido.id) }}" class="ver-detalle-btn">
        Ver detalle completo 
      </a>
    </div>
  {% endfor %}

</div>

{% if not pedidos %}
  <p style="text-align: center;">No hay pedidos pendientes.</p>
{% endif %}

<a class="volver" href="{{ url_for('registrar_pedido') }}">← Volver a pedidos</a>



</body>
</html>
