<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo pedido - Delicious Chips</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>Nuevo pedido</h1>
  <h3>Por favor, ingrese los detalles de su pedido</h3>

  <form id="pedidoForm" method="POST" action="/registrar_pedido">
    <div>
      <label for="producto">Seleccione su producto:</label>
      <select name="producto" id="producto" required>
        <option value="">--Seleccionar--</option>
        <option value="Papas">Papas</option>
        <option value="Nachos">Platanitos</option>
        <option value="Chicharrón">Rosquillas</option>
      </select>
    </div>

    <div>
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad" required>
    </div>

    <div>
      <label for="sabor">Sabor:</label>
      <select name="sabor" id="sabor" required>
        <option value="">--Seleccionar--</option>
        <option value="Limon">Limón</option>
        <option value="Pimienta">Pimienta</option>
        <option value="Picante">Picante</option>
      </select>
    </div>

    <div class="full-width">
      <label for="observaciones">Observaciones:</label>
      <textarea name="observaciones" id="observaciones" rows="2"></textarea>
    </div>

    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required>
    </div>

    <div>
      <label for="documento">Documento:</label>
      <input type="number" name="documento" id="documento" required>
    </div>

    <div>
      <label for="telefono">Teléfono:</label>
      <input type="number" name="telefono" id="telefono" required>
    </div>

    <div class="full-width">
      <label>Forma de entrega:</label><br>
      <label><input type="radio" name="formaEntrega" value="domicilio"> Domicilio</label>
      <label><input type="radio" name="formaEntrega" value="sede"> Recoger en sede</label>
    </div>

    <div>
      <label for="direccion">Dirección:</label>
      <input type="text" name="direccion" id="direccion" required>
    </div>

    <button type="submit" id="enviarPedido">Enviar pedido</button>
    <div class="volver">
      <a id="backy" href="{{ url_for('index') }}">Volver a la página principal</a>
    </div>

  </form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("exito")) {
      alert("¡Pedido recibido y guardado!");
    }
  });
</script>
</body>
</html>