<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Contáctanos | Delicious Chips</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">


</head>
<body>
  <div class="pagina-contacto">
    
    <div class="container">
      <h1>Contáctanos</h1>

      {% if mensaje %}
        <p style="color: green; font-weight: bold;">{{ mensaje }}</p>
      {% endif %}

      <div class="info"><strong>Teléfono:</strong> 3159284022</div>
      <div class="info"><strong>Correo:</strong> deliciouschips@yahoo.com.co</div>
      <div class="info"><strong>Dirección:</strong> Calle 75 #64A-31</div>

      <div class="info redes">
        <strong>Redes Sociales:</strong><br>
        <a href="https://www.instagram.com/delicious.chips/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">Instagram
        </a>
        <a href="https://m.facebook.com/962984017123730/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">Facebook
        </a>
      </div>

      <div class="formulario">
        <h2>Déjanos tus datos</h2>
        <form method="post">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>

          <label for="documento">Documento:</label>
          <input type="text" id="documento" name="documento" required>

          <label for="correo">Correo:</label>
          <input type="email" id="correo" name="correo" required>

          <label for="telefono">Teléfono:</label>
          <input type="text" id="telefono" name="telefono" required>

          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" required>

          <div>
            <label for="mensaje">Mensaje o motivo:</label><br>
            <textarea name="mensaje" id="mensaje" rows="4" cols="50" required></textarea>
          </div>


          <div class="botones">
            <button type="submit" class="btn-enviar">Enviar</button>
          </div>

        </form>
      </div>
      <div class="volver">
        <a class="btn-volver" href="{{ url_for('index') }}">Volver</a>
      </div>
        
    </div>
  </div>
  
  <footer>
      <p>&copy; 2025 Delicious Chips. Todos los derechos reservados.</p>
  </footer>

</body>
</html>

