<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalle del Pedido</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

 
</head>
<body>

  <div class="pagina-detalle">

    <div class="detalle">
      <h1>🧾 Detalle de tu Pedido</h1>

      <div class="campo"><strong>ID del Pedido:</strong> {{ "%04d" % pedido.id }}</div>
      
      <div class="campo">
          <strong>Estado:</strong>
          <span class="estado-label estado-{{ pedido.estado | default('Registrado') | replace(' ', '\\ ') }}">
            {{ pedido.estado | default('Registrado') | title }}
          </span>
      </div>

      <div class="seccion-doble">

        <div class="info-cliente">
          <h3>Información del Cliente</h3>

          <div class="campo"><strong>Nombre:</strong> {{ pedido.nombre }}</div>
          <div class="campo"><strong>Documento:</strong> {{ pedido.documento }}</div>
          <div class="campo"><strong>Teléfono:</strong> {{ pedido.telefono }}</div>
          <div class="campo"><strong>Forma de entrega:</strong> {{ pedido.forma_entrega }}</div>
          <div class="campo"><strong>Dirección:</strong> {{ pedido.direccion }}</div>
          <div class="campo"><strong>Hora del pedido:</strong> {{ pedido.hora.strftime('%Y-%m-%d %H:%M:%S') }}</div>
        </div>


        <div class="productos">
          <h3>Productos</h3>
          <ul>
            {% for p in pedido.productos %}
              <li>
                <strong>{{ p.cantidad }} x {{ p.producto }}</strong> ({{ p.sabor }})<br>
                <em>{{ p.observaciones or 'Sin observaciones' }}</em>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="botones-acciones">
        <a href="{{ url_for('modificar_pedido', pedido_id=pedido_id) }}" class="btn btn-modificar">
        Modificar Pedido
        </a>

        <a href="{{ url_for('factura', pedido_id=pedido_id) }}" class="btn btn-factura">
        Ver Factura
        </a>

        <a class="btn btn-volver" href="{{ url_for('pedidos') }}">← Volver a la lista de pedidos</a>
      </div>
    </div>
  </div>
  <footer>
      <p>&copy; 2025 Delicious Chips. Todos los derechos reservados.</p>
  </footer>

</body>
</html>