<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">


</head>
<body>
<div class="factura">
    <h2>Factura del Pedido</h2>
    <p><strong>ID del Pedido:</strong> {{ "%04d" % pedido.id }}</p>
    <p><strong>Nombre:</strong> {{ pedido.cliente.nombre }}</p>
    <p><strong>Documento:</strong> {{ pedido.cliente.documento }}</p>
    <p><strong>Teléfono:</strong> {{ pedido.cliente.telefono }}</p>
    <p><strong>Dirección:</strong> {{ pedido.cliente.direccion }}</p>
    <p><strong>Forma de entrega:</strong> {{ pedido.forma_entrega }}</p>
    <p><strong>Fecha y hora:</strong> {{ pedido.fecha_hora.strftime('%H:%M:%S') if pedido.fecha_hora else 'No disponible' }}
</p>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Sabor</th>
                <th>Gramaje</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        
        <tbody>
            {% for p in productos %}
            
                <tr>
                    <td>{{ p.producto }}</td>
                    <td>{{ p.sabor }}</td>
                    <td>{{ p.gramaje }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>${{ "{:,.0f}".format(p.precio_unitario).replace(",", ".") }}</td>
                    <td>${{ "{:,.0f}".format(p.subtotal).replace(",", ".") }}</td>
                </tr>
                
                {% if p.observaciones %}
                    <tr>
                        <td colspan="6"><em>📝 Observaciones: {{ p.observaciones }}</em></td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
        

    </table>

    <p class="total">Total a pagar: ${{ "{:,.0f}".format(total).replace(",", ".") }}</p>

</div>

<!-- Botones -->
<div class="factura-botones">
  <button onclick="window.print()">Descargar como PDF</button>
  <a href="{{ url_for('index') }}">
    <button>Volver al Inicio</button>
  </a>
</div>

<footer>
    <p>&copy; 2025 Delicious Chips. Todos los derechos reservados.</p>
</footer>

</body>
</html>
