<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Delicious Chips</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        <h1>Bienvenido a Delicious Chips Page Web</h1>
        <hr>
        <div class="tope">
            <ul id="bar">
                <li><a href="{{url_for('index')}}">Inicio</a></li>
                <li>Ver cátalogo</li>
                <li><a href="{{ url_for('verificar_cliente') }}">Realizar pedido</a></li>
                <li><a href="{{ url_for('contactanos') }}">Contáctanos</a></li>
                <li>PQRS</li>
                <li><a href="{{ url_for('estado_pedido') }}">Consultar estado del pedido</a></li>
            </ul>
        </div>

    </body>
</html>
