<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Delicious Chips</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>

        <header class="hero">
            <div class="overlay">
                <h1>Bienvenido a <span>Delicious Chips</span></h1>
                <p>Se me hace agua la boca</p>
            </div>
        </header>

        <nav class="navbar">
            <ul id="bar">
                <li><a href="{{url_for('index')}}">Inicio</a></li>
                <li><a href="{{ url_for('verificar_cliente') }}">Realizar pedido</a></li>
                <li><a href="{{ url_for('contactanos') }}">Contáctanos</a></li>
                <li><a href="{{ url_for('rastreo') }}">Rastrea tu pedido</a></li>
                <li class="admin-link"><a href="{{ url_for('pedidos') }}">🔐 Admin</a></li>
            </ul>
        </nav>

        <section class="contenido-principal">
        
            <div class="galeria-productos">
                <h2>Explora nuestros productos</h2>
                <div class="grid-productos">
                    <div class="producto">
                        <img src="{{url_for('static', filename='chips-limon-pimienta.jpg')}}" alt="Papas Limon y Pimienta">
                        <p>Papas Chips de Limón Pimienta</p>
                    </div>
                    <div class="producto">
                        <img src="{{url_for('static', filename='pasabocas-limon.jpg')}}" alt="Pasabocas Limón">
                        <p>Pasabocas de Limón</p>
                    </div>
                    <div class="producto">
                        <img src="{{url_for('static', filename='chicharrin-limon.jpg')}}" alt="Chicharrín Limón">
                        <p>Chicharrín de Limón</p>
                    </div>
                    <div class="producto">
                        <img src="{{url_for('static', filename='pasabocas-tocineta.jpg')}}" alt="Pasabocas Tocineta">
                        <p>Pasabocas Tocineta</p>
                    </div>
                    
                </div>
            </div>
            
            <p class="subtexto">Descarga nuestro catálogo.</p>
            <!--<img src="{{ url_for('static', filename='cliente.png') }}" alt="Cliente feliz" class="img-sec">-->
            <div class="boton-centro">
                <a href="{{ url_for('static', filename='descargas/catalogo.pdf') }}" download="CatalogoDeliciousChips.pdf" class="btn">
                    Descargar Catálogo
                </a>
            </div>
        
        </section>

        <footer>
            <p>&copy; 2025 Delicious Chips. Todos los derechos reservados.</p>
        </footer>

        
    </body>
</html>
