<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de pedidos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
  <div class="pagina-pedidos">
    <h1>Pedidos por gestionar</h1>


    <div class="pedidos-container">
      {% for pedido in pedidos %}
        <div class="pedido-card">
          
          <p><strong>ID del Pedido:</strong> {{ "%04d" % pedido.id }}<p>

          <p>
            <strong>Estado:</strong>
            <span class="estado-label estado-{{ pedido.estado | default('Registrado') | replace(' ', '\\ ') }}">
              {{ pedido.estado | default('Registrado') | title }}
            </span>
          </p>
          
          <p><strong>Nombre:</strong> {{ pedido.nombre }}</p>

          <p><strong>Productos:</strong></p>
          <ul>
            {% for prod in pedido.productos %}
              <li>{{ prod.cantidad }} x {{ prod.producto }} ({{ prod.sabor }})</li>
            {% endfor %}
          </ul>
          
          <p><strong>Fecha y hora del pedido:</strong> {{ pedido.hora.strftime('%Y-%m-%d %H:%M:%S') }}</p>
          
          <div style="display: flex; gap: 10px;">
            <a href="{{ url_for('detalle_pedido_cliente', pedido_id=pedido.id) }}" class="btn">Ver detalles</a>
            <a href="{{ url_for('modificar_pedido', pedido_id=pedido.id) }}" class="btn-modificar">Modificar</a>
          </div>
          

        </div>
      {% endfor %}

    </div>

    {% if not pedidos %}
      <p style="text-align: center;">No hay pedidos pendientes.</p>
    {% endif %}

    <a class="volver" href="{{ url_for('registrar_pedido') }}">← Volver a pedidos</a>
  </div>

  <footer>
      <p>&copy; 2025 Delicious Chips. Todos los derechos reservados.</p>
  </footer>


</body>
</html>
