<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title>Modificar pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="pagina-modificar">
        <div class="contenedor">
            <h2 class="titulo-centro">Modificar Pedido #{{ pedido_id }}</h2>

            <form method="POST" action="{{ url_for('actualizar_pedido', pedido_id=pedido.id) }}" >
            
                {% for producto in pedido.productos %}
                    <fieldset style="margin-bottom: 20px;">
                        <legend>Producto {{  loop.index  }}</legend>
                        
                        <label>Producto:</label>
                        <input type="text" name="producto[]" value="{{ producto.producto }}"><br><br>

                        <label>Sabor:</label>
                        <input type="text" name="sabor[]" value="{{ producto.sabor }}"><br><br>

                        <label>Cantidad:</label>
                        <input type="number" name="cantidad[]" value="{{ producto.cantidad }}"><br><br>

                        <label>Observaciones:</label><br>
                        <textarea name="observaciones[]">{{ producto.observaciones }}</textarea><br><br>

                    </fieldset>

                {% endfor %}
                
                <label>Nombre:</label>
                <input type="text" name="nombre" value="{{ pedido.get('nombre', '') }}"><br><br>
                
                <label>Documento:</label>
                <input type="number" name="documento" value="{{ pedido.get('documento', '') }}"><br><br>
                
                <label>Teléfono:</label>
                <input type="number" name="telefono" value="{{ pedido.get('telefono', '') }}"><br><br>

                <label>Correo electrónico:</label>
                <input type="email" name="email" value="{{  pedido.get('email', '') }}">
                
                <label>Dirección:</label>
                <input type="text" name="direccion" value="{{ pedido.get('direccion', '') }}"><br><br>

                <label>Forma de entrega:</label>
                <select name="forma_entrega">
                    <option value="Domicilio"{% if pedido.get('forma_entrega') == 'Domicilio' %}selected{% endif %}>Domicilio</option>
                    <option value="Recoger en sede"{% if pedido.get('forma_entrega') == 'Recoger en sede' %}selected{% endif %}>Recoger en sede</option>
                </select><br><br>

                <label for="estado">Estado del pedido:</label>
                <select name="estado" id="estado">
                    <option value="registrado" {% if pedido.estado == 'registrado' %}selected{% endif %}>Registrado</option>
                    <option value="preparacion" {% if pedido.estado == 'preparacion' %}selected{% endif %}>Preparación</option>
                    <option value="listo" {% if pedido.estado == 'listo' %}selected{% endif %}>Listo</option>
                    <option value="entregado" {% if pedido.estado == 'entregado' %}selected{% endif %}>Entregado</option>
                    <option value="cancelado" {% if pedido.estado == 'cancelado' %}selected{% endif %}>Cancelado</option>
                </select><br><br>

                
                <div class="botones-acciones">
                    <button type="submit" class="btn btn-guardar">Guardar Cambios</button>
                    <a href="{{ url_for('pedidos') }}" class="btn btn-cancelar">Cancelar</a>
                </div>

            

            </form>
            
        </div>
    </div>
</body>
</html>