<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido exitoso</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">


</head>
<body>
    <div class="confirmar-pedido" style="text-align: center; margin-top: 50px;">
        

        <h1 class="titulo">✅ ¡Pedido registrado y guardado con éxito!</h1>
        <p style="text-align: center; font-size: 18px;">Tu número de pedido es: <strong style="font-size: 22px;">{{ "%04d" % pedido_id }}</strong></p>

        <div class="botones-acciones" style="margin-top: 40px;">
            <a href="{{ url_for('factura', pedido_id=pedido_id) }}"><button class="btn">Ver factura</button></a>
            
        
            <form action="{{ url_for('verificar_cliente') }}" method="get" onsubmit="localStorage.clear()">
                <button class="btn">Registrar nuevo pedido</button>
            </form>

            
    </div>

</body>
</html>