<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Verificar cliente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>¿Ya has pedido antes? 🪪</h1>

  <form action="/verificar_cliente" method="POST">
    <label for="cedula">Ingresa tu cédula para cargar tus datos automáticamente:</label>
    <input type="number" name="cedula" id="cedula" required>
    <button type="submit">Continuar</button>
  </form>

</body>
</html>